
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Calibri', sans-serif;
    background-color: #E3F2FD; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    background-color: #64B5F6; 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

h1 {
    text-align: center;
    color: #0D47A1; 
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #0D47A1; 
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #1565C0;
    box-shadow: 0 0 8px rgba(21, 101, 192, 0.4);
}


button {
    padding: 10px;
    font-size: 16px;
    background-color: #1565C0;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #1976D2; 
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:last-child {
    background-color: #0D47A1; 
}

button:last-child:hover {
    background-color: #42A5F5; 
}
